#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9, #div10, #div11, #div12, #div13, #div14, #div15, #div16, #div17, #div18, #div19, #div20, #div21, #div22, #div23, #div24, #div25, #div26, #div27, #div28 {
    width: 170px;
    height: 56.67px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    position: absolute;
}
#div1, #div2, #div3, #div4, #div5, #div6, #div7 {
    margin: 10px 0px 0px 0px;
}
#div2 {
    margin-left: 191px;
}
#div3 {
    margin-left: 382px;
}
#div4 {
    margin-left: 573px;
}
#div5 {
    margin-left: 764px;
}
#div6 {
    margin-left: 955px;
}
#div7 {
    margin-left: 1146px;
}
#div8, #div9, #div10, #div11, #div12, #div13, #div14 {
    margin: 69.67px 0px 0px 0px;
}
#div9 {
    margin-left: 191px;
}
#div10 {
    margin-left: 382px;
}
#div11 {
    margin-left: 573px;
}
#div12 {
    margin-left: 764px;
}
#div13 {
    margin-left: 955px;
}
#div14 {
    margin-left: 1146px;
}
#div15, #div16, #div17, #div18, #div19, #div20, #div21 {
    margin: 129.34px 0px 0px 0px;
}
#div16 {
    margin-left: 191px;
}
#div17 {
    margin-left: 382px;
}
#div18 {
    margin-left: 573px;
}
#div19 {
    margin-left: 764px;
}
#div20 {
    margin-left: 955px;
}
#div21 {
    margin-left: 1146px;
}
#div22, #div23, #div24, #div25, #div26, #div27, #div28 {
    margin: 189.01px 0px 0px 0px;
}
#div23 {
    margin-left: 191px;
}
#div24 {
    margin-left: 382px;
}
#div25 {
    margin-left: 573px;
}
#div26 {
    margin-left: 764px;
}
#div27 {
    margin-left: 955px;
}
#div28 {
    margin-left: 1146px;
}

#drag1 {
    margin: 290px 0px 0px 484.165px;
    position: absolute;
}
#drag2 {
    margin: 290px 0px 0px 584.165px;
    position: absolute;
}

#dropContainer {
    width: 170px;
    height: 56.67px;
    margin: 338.35px 0px 0px 100px;
    padding: 10px;
    background: purple;
    position: absolute;
}

#generate {
    margin: 360px 0px 0px 584.165px;
    position: absolute;
}

#download {
    margin: 390px 0px 0px 584.165px;
    position: absolute;
    visibility: hidden;
}